@model IEnumerable<Assignment2Project.Models.AssetModel>

@{
    ViewData["Title"] = "Assets";
}

<h1>View Assets</h1>

<form method="get" class="my-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="search" id="q" name="q" value="@ViewData["q"]">
                    <button class="input-group-text" id="search" type="submit">Search</button>
                </div>
            </div>
        </div>
</form>
<table class="table table-striped mt-4">
    <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Room</th>
            <th>Category</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var asset in Model)
        {
            <tr>
                <td>@asset.Id</td>
                <td>@asset.Name</td>
                <td>@asset.Room.Name</td>
                <td>@asset.Category.Name</td>
              
            </tr>
        }
    </tbody>
</table>