@model IEnumerable<Assignment2Project.Models.RoomModel>

@{
    ViewData["Title"] = "Rooms";
}

<h1>Room Management</h1>

<div class="mt-3">
    <a asp-action="Create" class="btn btn-info">Create New Room</a>
    <a asp-controller="RoomCategory" asp-action="Index" class="btn btn-info">Manage Room Categories</a>
</div>

<form method="get" class="my-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="search" id="q" name="q" value="@ViewData["q"]">
                    <button class="input-group-text" id="search" type="submit">Search</button>
                </div>
            </div>
        </div>
</form>

<table class="table table-striped mt-4">
    <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Institution</th>
            <th>Category</th>
            <th>Manage</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var room in Model)
        {
            <tr>
                <td>@room.Id</td>
                <td>@room.Name</td>
                <td>@room.Institution.Name</td>
                <td>@room.Category.Name</td>
                <td>
                    <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@room.Id">Edit</a>
               
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@room.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>