@using Assignment2Project.Areas.Admin.Models
@model IEnumerable<UserRolesViewModel>

@{
    ViewData["Title"] = "User Manager";
}

<h1>User Roles Management</h1>

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>User ID</th>
            <th>First Name</th>
            <th>Surname</th>
            <th>Roles</th>
            <th>Institution</th>
            <th>Manage Roles</th>
            <th>Manage Institution</th>

            <th>Manage Users</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.User.Id</td>
                <td>@user.User.Fname</td>
                <td>@user.User.Sname</td>
                <td>@string.Join(" , ", user.Roles.ToList())</td>
                <td>@user.Institution.Name</td>
                <td>
                    <a class="btn btn-info" asp-controller="UserRoles" asp-action="Manage" asp-route-id="@user.User.Id">Manage Roles</a>
                </td>
                <td>
                    <a class="btn btn-info" asp-controller="UserRoles" asp-action="ManageInstitution" asp-route-id="@user.User.Id">Manage Institution</a>
                </td>
                <td>
                    <a class="btn btn-danger" asp-controller="UserRoles" asp-action="Delete" asp-route-id="@user.User.Id">Delete User</a>
                </td>
            </tr>
        }
    </tbody>
</table>